<!-- <h1>Give This A Try!</h1>

<!- link to demo video
description -->
  <!-- <p><%= @workout.level %></p>
  <p><%= @workout.time %></p>
  <p><%= @workout.style %></p>

  <h2>Movement description:</h2>
  <h2>Workout description:</h2> -->

  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Give This A Try</title>
    </head>
    <body>
      <h1><%= @workout.level %></h1>
      <p><%= @workout.time %></p>
      <p><%= @workout.style %></p>
      <form action=<%= "/workouts/#{@workout.id}/delete" %> method="POST">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="delete" id="submit">
      </form>
    </body>
  </html>
